<div class="container mt-5 col-6">
    <h1>File Upload (Multer)</h1>
    <form action="" method="post">
        <div class="mb-3">
            <label for="" class="form-label">choose File</label>
            <input  type="file"  name="image"  class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary"> Submit  </button>
        
    </form>
</div>