<div class="container mt-5 col-6">
    <h1>Form Handling</h1>
    <form action="/form/get/submit" method="get">
        <div class="mb-3">
            <label for="" class="form-label">username</label>
            <input  type="text"  name="username"  class="form-control"/>
        </div>
         <div class="mb-3">
            <label for="" class="form-label">email</label>
            <input  type="text"  name="email"  class="form-control"/>
        </div>
         <div class="mb-3">
            <label for="" class="form-label">password</label>
            <input  type="password"  name="password"  class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">confirm password</label>
            <input  type="password"  name="cpassword"  class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary"> Submit  </button>
        
    </form>
</div>