<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link me-2" href="/form">Open Get Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link me-2" href="/form/postform">Open Post Form</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link me-2" href="/file">multer demo</a> 
  </li>
</ul>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
